<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%
=begin%>
 <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div> 
<%
=end%>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :nombre %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :apellido %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Tipo de Documento" %>
        <%= form.text_field :document_type, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Número de Documento" %>
        <%= form.text_field :document_number, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Fecha de Nacimiento" %>
        <div class="row" style="padding: 0 15px;">
          <%= form.date_select :birthdate, { order: [:day, :month, :year] }, { class:"form-control col"}%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :carrera %>
        <%= form.text_field :career, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :año %>
        <%= form.number_field :career_year, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :experiencia %>
        <%= form.text_area :experience, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= form.submit "Guardar", class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <br><br><br>  

<% end %>
