<p id="notice"><%= notice %></p>

<h3 class="text-warning py-4">Empresas</h3>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <%
=begin%>
 <th>Cuit</th>
<%
=end%>
      <th>Provincia</th>
      <th>Ciudad</th>
      <%
=begin%>
 <th>Dirección</th> 
<%
=end%>
      <%
=begin%>
 <th>Teléfono</th> 
<%
=end%>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <%
=begin%>
 <td><%= company.cuit %></td> 
<%
=end%>
        <td><%= company.province %></td>
        <td><%= company.city %></td>
        <%
=begin%>
 <td><%= company.address %></td> 
<%
=end%>
        <%
=begin%>
 <td><%= company.phone %></td> 
<%
=end%>
        <td><%= company.email %></td>
        <td>
          <%= link_to company do %>
            <button class="btn btn-sm btn-info btn-tooltip" type="button" data-toggle="tooltip" data-placement="top" title="Ver" data-container="body" data-animation="true">
              <i class="fa fa-eye"></i>
            </button>
          <% end %>
        </td>
        <td>
          <%= link_to edit_company_path(company) do %>
            <button class="btn btn-sm btn-warning btn-tooltip" type="button" data-toggle="tooltip" data-placement="top" title="Editar" data-container="body" data-animation="true">
              <i class="fa fa-edit"></i>
            </button>
          <% end %>
        </td>
        <td>
          <%= link_to company, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-sm btn-danger btn-tooltip" type="button" data-toggle="tooltip" data-placement="top" title="Eliminar" data-container="body" data-animation="true">
              <i class="fa fa-trash"></i>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination float-right">
  <%= will_paginate @companies, :container => false %>
</div>
