<div class="py-3"></div>
<div class="row">
  <div class="col-4">
    <p>
      <strong>Nombre:</strong>
      <%= @company.name %>
    </p>

    <p>
      <strong>CUIT:</strong>
      <%= @company.cuit %>
    </p>

    <p>
      <strong>Provincia:</strong>
      <%= Company::Provinces[@company.try(:province)] || @company.province %>
    </p>

    <p>
      <strong>Ciudad:</strong>
      <%= @company.city %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= @company.address %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @company.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @company.email %>
    </p>

    <%= link_to new_company_job_offer_path(@company) do %>
    <button class="btn btn-warning btn-sm">Crear Oferta de Empleo</button>
    <% end %>
  </div>
  <div class="col-8">
    <% if @job_offers.count > 0%>
    <% @job_offers.each do |job_offer| %>
    <%= link_to company_job_offer_path(@company, job_offer) do%>
    <div class="card" style="width: 100%;">
      <div class="card-body">
            <%= link_to company_job_offer_path(job_offer.company.id, job_offer) do%>
            <h5 class="card-title"><%= job_offer.description.truncate(45, separator: ' ') %></h5>
            <% end %>
            <h6 class="card-subtitle mb-2 text-muted"><%= job_offer.company.name %></h6>
            <small class="card-text"><%= job_offer.company.province %>, <%= job_offer.company.city %></small>
            <br>
            <small><%= job_offer.start_date.strftime("Publicada: %d/%m/%Y") %></small> -
            <small><%= job_offer.start_date.strftime("Expira: %d/%m/%Y") %></small>
            <% if current_admin %>
              <div style="cursor: pointer">
                <% if job_offer.is_active %>
                  <p class="text-success">
                    Oferta Activa
                  </p>
                  <div class="row">
                    <div class="col-9">
                    </div>

                    <div class="col-3">
                      <%= form_for ([job_offer.company, job_offer]) do |j| %>
                      <%= j.hidden_field :is_active, :value=>false %>
                      <%= j.submit "Deshabilitar", class: "btn btn-sm btn-danger" %>
                      <% end %>
                    </div>
                  </div>

                <% else %>
                  <p class="text-danger">
                    Oferta Pendiente de aprobación
                  </p>
                  <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-3">
                      <%= form_for ([job_offer.company, job_offer]) do |j| %>
                      <%= j.hidden_field :is_active, :value=>true %>
                      <%= j.submit "Habilitar", class: "btn btn-sm btn-success" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
    </div>
    <br>
    <% end %>
    <br>
    <% end %>
    <div class="digg_pagination float-right">
      <%= will_paginate @job_offers, :container => false %>
    </div>
    <% else %>
    <div class="alert alert-info" role="alert">
      <strong><%= @company.name %></strong> no ha publicado ofertas laborales todavía.
    </div>
    <% end %>
  </div>
</div>
