<%= form_with(model: ([company, job_offer ]), local: true) do |form| %>

  <% if job_offer.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% job_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Fecha de Inicio *" %>
        <div class="row" style="padding: 0 15px;">
          <%= form.date_select :start_date, { order: [:day, :month, :year], start_year: Time.now.year,
             end_year: Time.now.year }, { class:"form-control col"}%>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label "Fecha de Finalización" %>
        <div class="row" style="padding: 0 15px;">
          <%= form.date_select :end_date, { order: [:day, :month, :year], include_blank: true, start_year: Time.now.year,
             max_years_allowed: 5 }, { class:"form-control col"}%>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label "Descripción * "%>
        <%= form.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= form.submit "Guardar", class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div> 
<%
=end%>

<% end %>
