<h3 class="text-warning py-4">Ofertas Laborales</h3>
  <div class="row">
    <% @job_offers.each do |job_offer| %>
      <div class="col-6">
        <%= link_to job_offer do%>
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title"><%= job_offer.description.truncate(45, separator: ' ') %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= job_offer.company.name %></h6>
              <small class="card-text"><%= job_offer.company.province %>, <%= job_offer.company.city %></small>
              <br>  
              <small><%= job_offer.start_date.strftime("Publicada: %d/%m/%Y") %></small>
            </div>
          </div>
          <% end %>
        <br>
      </div>
        <%
=begin%>
 <td><%= link_to 'Show', company_job_offer_path(@company.id, job_offer) %></td>
        <td><%= link_to 'Edit', edit_company_job_offer_path(@company.id, job_offer) %></td>
        <td><%= link_to 'Destroy', company_job_offer_path(@company.id, job_offer), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
<%
=end%>
      </tr>
    <% end %>

<%
=begin%>
 <%= link_to 'New Job Offer', new_job_offer_path %> 
<%
=end%>
</div>
