  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-white navbar-light position-sticky top-0 shadow py-2">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand mr-lg-5" do %>
        <h3>Jobs Finder</h3>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <h3>Jobs Finder</h3>
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>


          <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <span class="nav-link-inner--text btn btn-outline-primary">Registro</span>
              </a>
              <div class="dropdown-menu dropdown-menu-xl">
                <div class="dropdown-menu-inner">
                  <%= link_to new_student_path, class: "media d-flex align-items-center" do %>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="heading text-success mb-md-1">Registrar Alumno</h5>
                      <p class="description d-none d-md-inline-block mb-0">Registrate para que las empresas te conozcan.</p>
                    </div>
                  <% end %>

                  <%= link_to new_company_path, class: "media d-flex align-items-center" do %>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="fa fa-building"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="heading text-warning mb-md-1">Registrar Empresa</h5>
                      <p class="description d-none d-md-inline-block mb-0">Registra tu empresa para poder publicar ofertas laborales.</p>
                    </div>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block">
              <% if current_admin %>
                <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-primary btn-icon" do %>
                  <span class="nav-link-inner--text">Salir</span>
                <% end %>
              <%else%>
                <%= link_to new_admin_session_path, class: "btn btn-primary btn-icon" do %>
                  <span class="nav-link-inner--text">Ingresar</span>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>